<div class="row">
    <h1>employee works!</h1>
    <div>
        <a href="#" class="btn btn-primary btn-xs">Create</a>
        <a href="#" class="btn btn-danger btn-xs">Delete</a>
    </div>
    <table class="table table-responsive table-hover ">
    <thead>
        <tr>
        <th>UserID</th>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of testList">
        <td>{{employee.userId}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.body}}</td>
        </tr>
        
    </tbody>
    </table> 
</div>
